/_build
/.vscode

*.lo
*.o
.deps
.dirstamp
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/.version
/ABOUT-NLS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/atconfig
/atlocal
/autom4te.cache
/autoscan.log
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/build-aux/test-driver
/build-aux/ylwrap
/common.vapi
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/data/Makefile.in
/include/Makefile.in
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libcommon.a
/libcommon.h
/libcommon_a_vala.stamp
/libmsi/Makefile.in
/libtool
/m4/codeset.m4
/m4/extern-inline.m4
/m4/fcntl-o.m4
/m4/gettext.m4
/m4/glibc2.m4
/m4/glibc21.m4
/m4/iconv.m4
/m4/intdiv0.m4
/m4/intl.m4
/m4/intldir.m4
/m4/intlmacosx.m4
/m4/intmax.m4
/m4/inttypes-pri.m4
/m4/inttypes_h.m4
/m4/lcmessage.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/libtool.m4
/m4/lock.m4
/m4/longlong.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/nls.m4
/m4/po.m4
/m4/printf-posix.m4
/m4/progtest.m4
/m4/size_max.m4
/m4/stdint_h.m4
/m4/threadlib.m4
/m4/uintmax_t.m4
/m4/visibility.m4
/m4/wchar_t.m4
/m4/wint_t.m4
/m4/xsize.m4
/msibuild
/msiextract
/msiextract_vala.stamp
/msiinfo
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/msitools.pot
/po/stamp-it
/po/stamp-po
/so_locations
/stamp-h1
/tags
/tests/Makefile.in
/tests/package.m4
/tests/testsuite
/testsuite.log
/tools/msidiff
/tools/msidump
/tools/msiextract.c
/tools/wixl/builder.c
/tools/wixl/msi-default.c
/tools/wixl/msi.c
/tools/wixl/preprocessor.c
/tools/wixl/util.c
/tools/wixl/wix.c
/tools/wixl/wixl-heat.c
/tools/wixl/wixl.c
/wixl
/wixl-heat
/wixl.h
/wixl_heat_vala.stamp
/wixl_vala.stamp
_libs
